{% extends 'base.html'%}
{% load static %}
{% block title %}
{% endblock %}
{% block body %}
        <!-- Testimonial Start -->
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <h1 class="text-center mb-5">Our Users Say!!!</h1>
                <div class="owl-carousel testimonial-carousel">
                    <div class="testimonial-item bg-light rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p>I found a diverse range of job listings on Jobhub, catering to various skill sets and preferences. This diversity allowed me to explore different opportunities within my field.</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded" src="{% static 'img/testimonial-1.jpg' %}" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h5 class="mb-1">Neha Singh</h5>
                                <small>Data Analyst</small>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p> The job matching algorithm on Jobhub seems to align well with the skills and experiences of the applicants. It certainly played a crucial role in presenting relevant job opportunities tailored to my profile.</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded" src="{% static 'img/testimonial-2.jpg' %}" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h5 class="mb-1">Nitin Kamat</h5>
                                <small>Web Developer</small>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p>I am truly thankful for the job opportunity I've secured through Jobhub. It has not only expanded my professional horizons but has also connected me with a company that aligns with my career goals.</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded" src="{% static 'img/testimonial-3.jpg' %}" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h5 class="mb-1">Anurag Bolke</h5>
                                <small>Data Sciencetist</small>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p>I found a diverse range of job listings on Jobhub, catering to various skill sets and preferences. This diversity allowed me to explore different opportunities within my field.</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded" src="{% static 'img/testimonial-4.jpg' %}" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h5 class="mb-1">Mona Gupta</h5>
                                <small>App Developer</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
{% endblock %}
 